@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

body {
  min-height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1558486012-817176f84c6d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8d2VhdGhlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  max-width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(8, 8, 37, 0.877); 
}
 
::-webkit-scrollbar-thumb {
  background: rgb(196, 232, 248);
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(14, 203, 250, 0.877);
}

.weather-main-container {
  margin-bottom: 50px;
}

.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.search-container input {
  width: 200px;
  height: 30px;
  padding: 5px;
  padding-left: 27px;
  border-radius: 5px;
  background: rgba(0, 204, 255, 0.541);
  color: white;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-container img {
  height: 15px;
  position: absolute;
  bottom: 7px;
  left: 5px;
}

.search {
  position: relative;
}

.search-container p {
  color: rgb(243, 61, 61);
  margin-top: 10px;
  font-weight: 600;
  text-align: center;
  padding-inline: 25px;
}

.search-container p:empty {
  display: none;
}

.search-container input::placeholder {
  color: white;
}

.weather-container {
  padding: 25px;
  width: 100%;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 204, 255, 0.541);
  font-size: 20px;
  margin-top: 50px;
}

.hint {
  margin: auto;
  margin-bottom: 15px;
}

.hint:empty {
  display: none;
}

.city-name h2 {
  font-size: 35px;
}

.city-name h4 {
  margin-top: 2px;
}

.date-time {
  margin-top: 7px;
}

.weather-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weather-icon-container {
  margin-top: 50px;
  display: flex;
  margin-bottom: 80px;
  position: relative;
}

.weather-icon {
  width: 85px;
  position: absolute;
  left: -15px;
}

.temp {
  margin-bottom: 5px
}

.temp h1 {
  font-size: 50px;
}

.sunset-sunrise-info {
  display: flex;
  flex-direction: row
}

.sunset-sunrise-info span {
  font-size: 15px;
}

.sunset-sunrise-info img {
  height: 30px;
  margin-right: 3px;
}

.sunset-sunrise-info div {
  display: flex;
  align-items: flex-end;
}

.sunrise {
  margin-right: 5px;
}

.weather-moreinfo-container {
  padding: 25px;
  width: 95%;
  margin: auto;
  border-radius: 10px;
  color: white;
  background-color: rgba(8, 8, 37, 0.877);
}

.humidity-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.wind-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hourly-info {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin-top: 30px;
}

.hour-info {
  background-color: rgba(255, 255, 255, 0.144);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  border-radius: 10px;
  padding: 5px;
  height: 130px;
}